<!DOCTYPE html>

<html>

<head>
	<title>Request Header Parser</title>
	<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap" rel="stylesheet">
	<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container">
		<div class="center">
			<h2>Request Header Parser Microservice</h2>
		</div>
		<div class="flex-row">
			<h3>Example Usage:</h3>
			<p>
				<a href="api/whoami">[base url]/api/whoami</a>
			</p>
		</div>
		<div class="flex-row">
			<h3>Example Output:</h3>
			<p>
				<code>{<br>
					<span class="object-keys">"ipaddress"</span>:
					<span class="property-values">"::ffff:159.20.14.100"</span>,
					<span class="object-keys">"language"</span>:<span class="property-values">"en-US,en;q=0.5"</span>,
					<br><span class="object-keys">"software"</span>:
					<span class="property-values">"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"</span>
				<br>}
				</code>
			</p>
		</div>
</body>


</html>